@import "tailwindcss";

html,
body,
#root {
  min-height: 100%;
  background: #0a0a0a; /* dark so no white flash */
}
body {
  overflow-y: auto; /* allow scrolling */
  -webkit-overflow-scrolling: touch; /* smooth iOS scroll if any inner scrollers exist */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}
